<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %p [%c.%M] &gt;&gt;&gt; %m %n</pattern>
		</layout>
	</appender>
	<appender name="default_logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/quark.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>1MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %p [%c.%M] &gt;&gt;&gt; %m %n</pattern>
		</layout>
	</appender>
	<appender name="debug_logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/debug/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>1MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %p [%c.%M] &gt;&gt;&gt; %m %n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>  
			<onMatch>ACCEPT</onMatch>  
			<onMismatch>DENY</onMismatch>  
		</filter>
	</appender>
	<appender name="info_logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/info/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>1MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %p [%c.%M] &gt;&gt;&gt; %m %n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>  
			<onMatch>ACCEPT</onMatch>  
			<onMismatch>DENY</onMismatch>  
		</filter>
	</appender>
	<appender name="warn_logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/warn/warn.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>1MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %p [%c.%M] &gt;&gt;&gt; %m %n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>  
			<onMatch>ACCEPT</onMatch>  
			<onMismatch>DENY</onMismatch>  
		</filter>
	</appender>
	<appender name="error_logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/error/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>1MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %p [%c.%M] &gt;&gt;&gt; %m %n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>  
			<onMatch>ACCEPT</onMatch>  
			<onMismatch>DENY</onMismatch>  
		</filter>
	</appender>
	<logger name="org.springframework">
    	<level value="WARN"/>
  	</logger>
	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>
	<logger name="org.hibernate.SQL">
		<level value="ERROR" />
	</logger>
		<logger name="org.hibernate.cache">
		<level value="ERROR" />
	</logger>
	<logger name="com.opensymphony.xwork2">
		<level value="WARN" />
	</logger>
	<logger name="com.apache.struts2">
		<level value="WARN" />
	</logger>
	<logger name="com.mchange">
		<level value="WARN"/>
	</logger>
	<logger name="cn.org.quark">
    	<appender-ref ref="debug_logfile" />
    	<appender-ref ref="warn_logfile" />
    	<appender-ref ref="info_logfile" />
    	<appender-ref ref="error_logfile" />
  	</logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="default_logfile" />
	</root>
</configuration>

